# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# Python dependencies & cache
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
